body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00aaff;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    background-image: url('fondogaleria.jpg'); /* Asegúrate de que esta imagen esté en la ruta correcta */
    background-size: cover;
    padding: 20px;
}

#upload-form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

form input, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

footer {
    background-color: #00aaff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
